

/* :root-color{
    --Icon-color:#26c1e4;
    --Text-color:var(var(--Icon-color));
    --BgColor: #fff;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
} */

body{
    background-color: #f9fafc;
}

nav{
     background-color:rgb(84, 83, 81);
    background-size: cover;
    width: 100%;
    height: 100px;
    color: rgb(233, 225, 225);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    
}

.logo img{
    width: 150px;
    height: 100px;
    
}

.links a{
    text-decoration: none;
    color:#80da21;
    padding: 10px 20px;
    font-size: 20px;
}

.links a:hover{
    text-decoration: underline;
    color: #fb792b;
    transition: 0.5sec;
}



.signup{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #1be960;
    border-radius: 5px;
}

.signup:hover{
    background: transparent;
    border: 1px solid indianred;
    transition: 0.4sec;
}

.login{
    text-decoration: none;
    color: rgb(99, 99, 99);
    padding: 10px 20px;
    font-size: 20px;
    background-color: #d8efe3;
    border-radius: 5px;
}

.login:hover{
    background: transparent;
    border: 1px solid rgb(92, 194, 205);
    transition: 0.4sec;
}



nav{ 
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 10px rgb(227,228,237,0.37);
    border: 3px solid rgba(255,255,255,0.5);
} 

.hero{
    background-color: #f9fafc;
}

.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    padding-inline: 10%;
}

.hero-content div{
    width: 50%;
}
.hero-content img{
    width: 200px;
    float: left;
}

.hero-content h2{
    font-size: 50px;
}

.hero-content p{
    font-size: 25px;
}
.hero-content .link{
    margin: 20px;
}

.hero-content .link a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    margin-bottom: 10px;
}
.sh{
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    font-size: 20px;
    background-color: #187eeb;
    border-radius: 5px;
    
}

.sh:hover{
    background: transparent;
    color: black;
    border: 1px solid indianred;
    transition: 0.4sec;
}

.payment{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.payment img{
    width: 250px;
}

.boxes{
    display: grid;
    grid-gap: 20px;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr)) ;
}

.box{
    background-color: #baaeae;
    box-shadow: #80da21;
    text-align: center;
    padding: 1.5rem 2rem;
    margin: 10px 0;

}
.boxes .text{
    font-size: 40px;
    padding: 10px;
    margin: 10px;
    
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .categories {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #cbc7c7;
    box-shadow: 0 0 10px rgba(38, 34, 34, 0.1);
    border-radius: 8px;
    
}
.categories .text{
    font-size: 40px;
    padding: 10px;
    margin: 10px;
    
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    gap: 20px;
}

.category-item:last-child {
    border-bottom: none;
}

.category-name {
    font-weight: bold;
    color: #333;
}

.category-price {
    color: #666;
} */

.categories{
    display:block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-inline: 10%;
    margin: 50px auto;
    background-color: #cbc7c7;
    box-shadow: 0 0 10px rgba(38, 34, 34, 0.1);
    border-radius: 8px;

}

.categories .text{
    font-size: 60px;
    padding: 10px;
    margin: 10px;
    
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center; 

    
    
}

.categories .categories-content .category-item{
    display: block;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 30px;
    
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #bcb8b5;
    padding: 10px 20px;
    margin: 0;
    font-size: 20px;
}
footer .footer_links{
    background-size: cover;
    width: 100%;
    height: 100px;
    color: rgb(233, 225, 225);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}


